:root {
    --jaz-background: DarkSlateGrey;
}
.vaultkey-bg {
    background-color: var(--jaz-background);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a9a9a9;

}
.login-card {
    position: absolute;
    top: 300px;
    right: 395px;
    padding: 20px 35px 20px 25px;
    background-color: black;
    color: MintCream;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);

}
.brand{
    padding: 5px;
}