<div class="debug-card">
    <center>
        <form class="debug-form">
        <input type="text" name="endpoint"/>
        <button class="debug-button" data-action="read">Get Data</button>
        <button class="debug-button" data-action="clear">Clear</button>
        <br>
        <br>
        <div class="text-center mb-5">
        <a href="{{ url_for('manage', usrname='devUsr') }}" class="btn btn-secondary">Dev Login</a>
        </div>
    </form>
    <br/>
    </center>
    <pre>
        <code>{{ config }}</code>
    </pre>
</div>

<style>
    pre {
        white-space: pre-wrap;
        }
</style>