<!--this card wont flip over on hover it needs to flip over onClick -->
{% extends 'base.html' %}
{% block content %}
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <p class="title">Generate Password</p>
            <!--input for number of characters-->
            <input label="Length" type="number"/>
            <!--combo box for number of letters and number of numbers-->
            <button onclick="handlePasswordGeneration">Generate Password</button>
        </div>
        {{% if pwdGenerated }}
            <div class="flip-card-back">
                <p class="title">{{% generatedPwd %}}</p>
            </div>
        {{% endif %}}
    </div>
</div>
{% endblock %}