<!--this card wont flip over on hover it needs to flip over onClick -->
{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/generator.css">

<div class="card-align-middle" data-id-card="0">
  <div class="card-body">
      <div class="card-front">
          <h4 class="card-title">Generate Password</h4>
      </div>
      <hr>
      <div class="card-back">
          <form method="POST">
                {{ form.hidden_tag() }}
              <div>
                <p class="form-label">Password Length</p>
                {{ form.pwd_length(class="form") }}
              </div>
              </br>
              <div>
                <p class="form-label">Letter Count</p>
                {{ form.letter_count(class="form") }}
              </div>
              </br>
              <div>
                <p class="form-label">Number Count</p>
                {{ form.number_count(class="form") }}
              </div>
              </br>
              <div>
                <p class="form-label">Symbol Count</p>
                {{ form.symbol_count(class="form") }}
              </div>
              <div class="form-group-button">
              </br>
                {{ form.generate(class="jaz-button") }}
              </div>
              </br>
              <div class="generator-output">
                <p>Generated Password</p>
                {{ form.generated_pwd }}
              </div>
            </form>
      </div>
  </div>
</div>
{% endblock %}