<div class="card login-card">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
      <form>
        <div class="mb-3">
          {{ form.hidden_tag() }}
          {{ form.username.label(class='form-label') }}
          {{ form.username(class='form-control') }}
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          {{ form.pwd.label(class='form-label') }}
          {{ form.pwd(class='form-control') }}
        </div>
        {{ form.login(class="btn jaz-button") }}
        <br>
        <footer>
          <a href="{{url_for('register')}}">Create Account</a>
        </footer>
      </form>
  </div>
</div>
