<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
  <div class="login-card">
    <div class="card-header">
      <h1>Login</h1>
    </div>
    <div class="card-body">
      <form method="POST">
        <div class="form-group">
          {{ form.hidden_tag() }}
          {{ form.username.label }}
          {{ form.username() }}
        </div>
        <div class="form-group">
          {{ form.pwd.label }}
          {{ form.pwd() }}
        </div>
        <div class="form-group">
          {{ form.login(class="btn jaz-button") }}
        </div>
        <div class="form-group">
          <a href="{{url_for('register')}}">Create Account</a>
        </div>
      </form>
    </div>
  </div>
</div>
<!--this is for development only remove once done-->
{% if config['DEBUG'] %}
<div class="text-center mb-5">
  <a href="{{ url_for('manage', usrname='devUsr') }}" class="btn btn-secondary">Dev Login</a>
  <br>
</div>
{% endif %}
